/*change top bar color*/
[data-view="views/shared/appbar/AppNav"] {
    background-color: #0ED3A6;
}
[data-view="views/shared/appbar/AppLabel"] {
    background-color: #0ED3A6;
}
/*change unhighlighted text on the bar color*/
[data-role="app-nav-container"] [data-role="label"] {
    color: #E3FEF7;
}
/*change color of underline and text of current tab*/
[data-role="underline"] {
    /*background-color: #F3E3EB !important;*/
    background-color: #FFFFFF !important;
}
[data-role="app-nav-container"] [data-active="active"] [data-role="label"] {
    color: #FFFFFF;
}
